<ion-view view-title="Create">
	<div class="bar bar-header bar-positive header-styling">
	  	<h1 class="title">Create Task</h1>
	  	<button class="button button-icon ion-ios-home" href home-button></button>
	</div>
	<ion-content class="has-header">
		<form ng-submit="submit()">
			<div class="list list-inset">
				<label class="item item-input">
					<span class="input-label"> Project Name </span>
					<input ng-model="formData.ProjectName" type="text" placeholder="Input the project name"></input>
				</label>

				<label class="item item-input item-select">
					<span class="input-label"> Category </span>
					<select ng-model="formData.Category" ng-change="optionChange(formData.Category)">>
						<option value="">- Choose Category -</option>
						<option value="Choice1"> Choice 1</option>
						<option value="Choice2"> Choice 2</option>
						<option value="Choice3"> Choice 3</option>
						<option value="Choice4"> Choice 4</option>
					</select>
				</label>

				<label class="item item-input item-select">
					<span class="input-label"> Subcategory</span>
					<select ng-model="formData.Subcategory" ng-options="option for option in optionArray">
						<option value="">{{optionText}}</option>
					</select>
				</label>

				<label class="item item-input">
					<span class="input-label"> Address </span>
					<input ng-model="formData.Address" name="text" type="text" placeholder="Input customers address"></input>
				</label>

				<label class="item item-input">
					<span class="input-label"> Phone </span>
					<input ng-model="formData.PhoneNumber" type="text" placeholder="Input customers number"></input>
				</label>

				<label class="item item-input">
					<textarea ng-model="formData.Information" placeholder="Input additional information" rows="6"></textarea>
				</label>

				<label class="item item-input padding">
					<button class="button button-block button-balanced" ng-click="submitForm(formData)">Go to Upload Images</button>
				</label>

   			</div>
   		</form>
	</ion-content>
</ion-view>

