<ion-view view-title="Info">
	<div class="bar bar-header bar-positive header-styling">
		<button class="button button-icon ion-android-arrow-back" href back-button></button>
	  	<h1 class="title">Information ({{data.name}})</h1>
	  	<button class="button button-icon ion-ios-home" href home-button></button>
	</div>
	<ion-content class="has-header">
		<div class="list list-inset">
			<div class="list">
				<h3> Information </h3>
				<label class="item card infoList item-text-wrap">
					<span class="input-label"> Created by: {{data.created}}  </span>
					<span class="input-label"> Project Name: {{data.name}} </span>
					<span class="input-label"> Address: {{data.address}} </span>
					<span class="input-label"> Phone: {{data.phone}} </span>
					<span class="input-label"> Information: {{data.information}} </span>
					<span class="input-label"> Category: {{data.optionA}} </span>
					<span class="input-label"> Subcategory: {{data.optionB}} </span>
					<span class="input-label"> Time: {{data.time}} </span>
					<span class="input-label"> Responsible: {{data.responsible}} </span>
					<span class="input-label"> Technical Info: {{data.techinfo}} </span>
					<span class="input-label"> Status: {{data.status}} </span>
				</label>

				<div>
					<h3> Created Images </h3>
		      		<label class="item card item-image" ng-repeat="i in getNumber(data.imageCount0) track by $index">
		      			<img ng-src="http://vegardaaberge.no/Maintenance/images/{{data.id}}/0/image{{$index}}.jpg">
		      		</label>
		  		</div>

		  		<div class="completed" ng-show="showCompleted">
		  			<h3> Completed Images </h3>
		      		<label class="item card item-image" ng-repeat="i in getNumber(data.imageCount1) track by $index">
		      			<img ng-src="http://vegardaaberge.no/Maintenance/images/{{data.id}}/1/image{{$index}}.jpg">
		      		</label>
		  		</div>

		  		<label ng-show="showSubmit">
		  			<button class="button button-block button-assertive" type="submit" ng-click="completeTask(data.id)">Complete Task</button>
		  		</label>
			</div>
		</div>
	</ion-content>
</ion-view>

