<ion-view view-title="Info">
	<div class="bar bar-header bar-positive header-styling">
		<button class="button button-icon ion-android-arrow-back" href back-button></button>
	  	<h1 class="title">Information ({{data.ProjectName}})</h1>
	  	<button class="button button-icon ion-ios-home" href home-button></button>
	</div>
	<ion-content class="has-header">
		<div class="list list-inset">
			<div class="list">
				<h3> Information </h3>
				<label class="item card infoList item-text-wrap">
					<span class="input-label"> Created by: {{data.CreatedBy}}  </span>
					<span class="input-label"> Project Name: {{data.ProjectName}} </span>
					<span class="input-label"> Address: {{data.Address}} </span>
					<span class="input-label"> Phone: {{data.PhoneNumber}} </span>
					<span class="input-label"> Information: {{data.Information}} </span>
					<span class="input-label"> Category: {{data.Category}} </span>
					<span class="input-label"> Subcategory: {{data.Subcategory}} </span>
					<span class="input-label"> Time: {{data.TimeCreated}} </span>
					<span class="input-label"> Responsible: {{data.Responsible}} </span>
					<span class="input-label"> Technical Info: {{data.TechnicalInfo}} </span>
					<span class="input-label"> Status: {{data.Status}} </span>
				</label>

				<div>
					<h3> Created Images </h3>
		      		<label class="item card item-image" ng-repeat="image in images[0]">
		      			<img ng-src="http://vegardaaberge.no/Maintenance/{{image}}">
		      		</label>
		  		</div>
		  		  
		  		<div class="completed" ng-show="showCompleted">
		  			<h3> Completed Images </h3>
		      		<label class="item card item-image" ng-repeat="image in images[1]">
		      			<img ng-src="http://vegardaaberge.no/Maintenance/{{image}}">
		      		</label>
		  		</div>
		  		
		  		<label ng-show="showSubmit">
		  			<button class="button button-block button-assertive" type="submit" ng-click="completeTask(data)">Complete Task</button>
		  		</label>
			</div>
		</div>
	</ion-content>
</ion-view>

