<ion-view view-title="Current" ng-init="changeView('current', 'responsible')">
	<div class="bar bar-header bar-positive header-styling">
	  	<h1 class="title">Current Tasks</h1>
	  	<button class="button button-icon ion-ios-home" href home-button></button>
	</div>
	<ion-content class="has-header">

		<div class="list">
           <a ng-repeat ="item in datalist" href="#" class="item item-icon-left" ng-click="changePage('assigned', item.id)">
              <i class="icon ion-email" ng-show="active.current"></i>
              <i class="icon ion-checkmark-round balanced" ng-show="active.completed"></i>
              {{item.name}}
           </a>
        </div>

        <div class="tabs-striped tabs-color-positive">
			<div class="tabs tabs-icon-bottom tabTasks">
				<a ng-class="{active: active.current}" ng-click="changeView('current', 'responsible')" class="tab-item" href="#">
					<i class="icon ion-email"></i>
					Current
				</a>
				<a ng-class="{active: active.completed}" ng-click="changeView('completed', 'responsible')" class="tab-item" href="#">
					<i class="icon ion-checkmark-round"></i> 
					Completed
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>